.left-side-bar{
    /* border: 2px solid green; */
    width: 15%;
    height: 80%;
    margin-left: 0.5%;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #88888800; 
    border-radius: 20px;
}
.left-side-bar:hover::-webkit-scrollbar-thumb{
    background: #888888ac;
}
.active {
    color: rgb(41, 22, 255);
}